<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="d-flex">
      <div class="bg-dark text-white" id="sidebar" style="width: 250px; height: 100vh; padding: 10px; border-right: 1px solid #444;">
        <h3 class="text-center pb-5">Menu</h3>



        <a href="http://{{backip}}:80/edge" class="btn btn-dark w-100 text-start mb-2">Edge</a>
        <a href="http://{{backip}}:80/iot" class="btn btn-dark w-100 text-start mb-2 active">IoT</a>


        <a href="http://{{backip}}:80/app" class="btn btn-dark w-100 text-start mb-2">Application</a>
      </div>
      <div class="container-fluid">
        <h1 class="d-flex justify-content-center">VM IoT</h1>

        {% if err %}
        <div class="alert alert-danger" role="alert">
          {{err}}
        </div>
        {% endif %}

        <div class="d-flex justify-content-end m-4">
          <button type="button" class=" btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Ajouter une VM IoT
          </button>
        </div>
        
        <div class="m-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">CPU</th>
                <th scope="col">RAM</th>
                <th scope="col">état</th>
                <th scope="col">cluster</th>
                <th scope="col">supprimer</th>
              </tr>
            </thead>
            <tbody>
              {% for nom,cpu,ram,etat,cluster in vms %}
              <tr>
                <td>{{nom}}</td>
                <td>{{cpu}}</td>
                <td>{{ram}}</td>
                <td>{{etat}}</td>
                <td>{{cluster}}</td>
                <td>
                  <button type="button" class=" btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{nom}}">
                  Supprimer
                  </button>

                  <a class="btn btn-primary" href="http://{{backip}}:80/details/{{nom}}" role="button">Details</a>

                </td>
              </tr>
              
              <div class="modal fade " id="modal{{nom}}">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">Supprimer la VM {{nom}} ?</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body justify-content-center">
                      <form class="form" action="http://{{backip}}:80/deliot" method="post">
                        <input type="hidden" name="nom" value="{{nom}}">
    
                        <button type="submit" class="btn btn-dark">Supprimer</button>
                      </form> 
                    </div>
                  </div>
                </div>
              </div>
              
              
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="modal fade " id="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ajouter une VM IoT</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

              <div class="modal-body justify-content-center">

                <form name="addiot" class="form" action="http://{{backip}}:80/createiot" method="post" onsubmit="return validateForm()">
                  <div class="mb-3 mt-3">
                    <label for="nom" class="form-label">Nom :</label>
                    <input type="nom" class="form-control" id="nom" placeholder="Entrer le nom de la VM" name="nom">
                  </div>
                  <div class="mb-3">
                    <label for="ram" class="form-label">RAM (Mo) :</label>
                    <input type="number" class="form-control" id="ram" placeholder="Mo" name="ram">
                  </div>

                  <div class="mb-3">
                    <label for="cpu" class="form-label">CPU :</label>
                    <input type="number" class="form-control" id="cpu" name="cpu">
                  </div>

                  <div class="mb-3">
                    <div class="dropdown">
                      <button class="btn btn-dark dropdown-toggle" name="btnCluster" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cluster
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        {% for cluster in clusters %}

                        
                        <input type="radio" class=" btn-check" name="cluster" autocomplete="off" value="{{cluster}}" id="{{cluster}}">
                        <label class="btn btn-secondary dropdown-item" for="{{cluster}}">{{cluster}}</label>
                        
                        
                        {% endfor %}

                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
                <script>

                  function validateForm() {
                    let form = document.forms["addiot"];
                    let test = true
                    if (form["nom"].value == "") {
                      document.getElementById("nom").classList.add("border-danger");
                      test =  false;
                    }
                    if (form["ram"].value == "") {
                      document.getElementById("ram").classList.add("border-danger");
                      test =  false;
                    }
                    if (form["ram"].value >= 512) {
                      document.getElementById("ram").classList.add("border-danger");
                      test =  false;
                    }
                    if (form["cpu"].value == "") {
                      document.getElementById("cpu").classList.add("border-danger");
                      test =  false;
                    }
                    if (form["cpu"].value >= 1) {
                      document.getElementById("cpu").classList.add("border-danger");
                      test =  false;
                    }

                    let clusterSelected = false;
                    for (let i = 0; i < form["cluster"].length; i++) {
                      if (form["cluster"][i].checked) {
                        clusterSelected = true;
                        break;
                      }
                    }
                  
                    if (!clusterSelected) {
                      document.getElementById("dropdownMenuButton").classList.add("border-danger");
                      test= false;
                    }
                    return test;
                  }

                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>